@import url(http://fonts.googleapis.com/css?family=Signika:700,400);

a {
	color: rgb(215,28,57);
}


a:hover {
	color: rgb(215,28,57);
	text-decoration: underline;
}

.navbar-brand {
	padding: 0;
}

.navbar {
	margin-bottom: 0;
}

.jumbotron-roof {
	background:url(../img/roof.jpg);
	background-repeat:no-repeat;
	background-size: 110%;
	color: #FFF;
	text-shadow: 2px 2px 4px #000;
	font-family: 'Signika', sans-serif;
	
}

.jumbotron-whoweare {
	background:url(../img/trusses.jpg);
	background-repeat:no-repeat;
	background-size: 100%;
	color: #FFF;
	text-shadow: 2px 2px 4px #000;
	font-family: 'Signika', sans-serif;
	
}

.jumbotron-whatwedo {
	background:url(../img/what-we-do.jpg);
	background-repeat:no-repeat;
	background-size: 100%;
	color: #FFF;
	text-shadow: 2px 2px 4px #000;
	font-family: 'Signika', sans-serif;
	
}

.jumbotron-contact {
	background:url(../img/contact-us.jpg);
	background-repeat:no-repeat;
	background-size: 100%;
	color: #FFF;
	text-shadow: 2px 2px 4px #000;
	font-family: 'Signika', sans-serif;
	
}

.jumbotron-benefits {
	background-color: rgba(0,0,0,0.75);
	border-radius: 6px;
}

.jumbotron-benefits h2 {
	font-size: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Signika', sans-serif;
	font-weight: bold;
	text-transform: lowercase;
}

.panel-title {
	font-family: 'Signika', sans-serif;
	font-weight: bold;
	text-transform: lowercase;
	color: rgb(215,28,57);
	
}

.btn {
	font-family: 'Signika', sans-serif;
	font-weight: bold;
	text-transform: lowercase;
	color: #646464;
}

.btn-primary {
	color: #FFF;
	background-color: rgb(215,28,57);
	border-color:#646464;
}

.btn-primary:hover {
	background-color: rgb(233,51,70);
	border-color:#646464;
}

.jumbotron .btn-default {
	text-shadow: 0px 0px 0px;
}

.navbar {font-family: 'Signika', sans-serif;
	font-weight: bold;
	text-transform: lowercase;
	font-size: 1.5em;
}
	
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: rgb(215,28,57);
}

.panel-body>p {
	color: #FFF;
	text-shadow: 1px 1px 2px #000;
	font-size: 1.2em;
	font-family: 'Signika', sans-serif;
	/*background-color:rgba(100,100,100,0.5);
	padding: 0.25em*/
}

.panel-construction {background-image:url(../img/scaffold.jpg);
background-size: 100%;
}

.panel-domestic {background-image:url(../img/residential.jpg);
background-size: 100%;
}

.panel-la {background-image:url(../img/commercial-2.jpg);
background-size: 100%;
}

.panel-flat {background-image:url(../img/flat.jpg);
background-size: 100%;
}

.panel-gpr {background-image:url(../img/fibre.jpg);
background-size: 100%;
}

.panel-contract {background-image:url(../img/commercial.jpg);
background-size: 100%;
}

.header-phone-outer {
	font-size: 2.5em;
	color: #4e4a49;
	font-family: 'Signika', sans-serif;
	text-transform: lowercase;
	font-weight: bold;
}

.header-phone-outer a {
	color: rgb(233,51,70);
	text-decoration: none;
	position: relative;
	font-family: 'Signika', sans-serif;
	text-transform: lowercase;
}

.header-phone-outer a:hover {
	color: #4e4a49;
	text-decoration: none;
	
	
}

.header-phone-inner {
	position:absolute;
	top:50%;
	margin-top:1.6em;
	margin-left: 50px;
	margin-right: auto;
}

.cta-call {
	border:5px solid rgb(233,51,70);
	width: 140px;
	height: 140px;
	margin: 10px auto;
	padding: 25px;
	border-radius : 70px;
	text-align: center;
	vertical-align: central;
	font-family: 'Signika', sans-serif;
	text-transform: lowercase;
	font-weight: bold;
	font-size: 1.25em;
	line-height: 1.05em;
	display: block;
	box-shadow: 1px 1px 2px #000;
	color: #4e4a49;
}

.cta-call:hover {
	background-color:#CCC;
	color: #4e4a49;
	text-decoration: none;
}

.cta-call strong {
	color: rgb(233,51,70);
}
.nav-footer a {
	color: rgb(233,51,70);
	font-weight:bold;
}

.thumbnail-description {
	min-height: 350px;
}

.thumbnail-contract {
	min-height: 350px;
}

.footer-full {
	background-color: rgb(215,28,57);
	color:#FFF;
}

.footer-full img {
	margin: 0.5em;
}

.footer-full a {
	color: #FFF;
	font-family: 'Signika', sans-serif;
	text-transform: lowercase;
}

.footer-full a:hover{ 
	color: #fff;
	text-decoration:underline;
}